<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
    <a class="back" href=""> < Regresar</a>
    <div class="login-form">
        <img src="../images/lg.jpg">
        <br>
        <h2>
            ¡Bienvenido otra vez!
        </h2>
        <p>¿No tienes una cuenta?<a href=""> Registrarse </a></p>
        <br>
        <form>
            <input type="correo" placeholder="Correo" size="50" required>
            <input type="password" placeholder="Contraseña" size="50" required>
            <button>Iniciar sesión</button>
        </form>
        <a href="" class="">¿Se te olvido la contraseña?</a>
    </div>
</body>
</html>